body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.post {
    width: 350px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.post-header i.fab.fa-html5 {
    font-size: 20px;
    margin-right: 15px;
}

.post-header .username {
    font-weight: bold;
    margin-right: 10px;
}

.post-header .user-handle {
    justify-content: first baseline;
    color: #aaa;
    font-size: 14px;
}

.post-header i.fas.fa-ellipsis-h {
    margin-left: auto;
    color: #aaa;
}

.post-image img {
    width: 100%;
}

.post-actions {
    display: flex;
    padding: 10px;
    font-size: 24px;
}

.post-actions i {
    margin-right: 10px;
    cursor: pointer;
}

.post-actions i.far.fa-bookmark {
    margin-left: auto;
}

.post-likes {
    padding: 0 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-caption {
    padding: 0 10px 10px;
    color: #555;
}
